<!DOCTYPE html>
<html ng-app="main">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/site.css" rel="stylesheet" />
</head>
<body ng-controller="item-controller">
    <div id="allItems">
        <div class="block" ng-repeat="item in Items track by $index">

            <p><u>Tittle</u>: {{item.tittle}}</p>
            <p><u>Task</u>: {{item.task}}</p>
            <p><u>Author</u>: {{item.author}} - Date of created: {{item.createDate}}</p>
            <button ng-click=removeItem($index,item)>DELETE</button>
            <button ng-click=updateItem(item)>UPDATE</button>
        </div>
    </div>

    <div id="addItem">
        <label for="tittle">Tittle</label>
        <p>
            <input type="text" id="tittle" ng-model="tittle" placeholder="write tittle" />
        </p>
        <label for="discription">Discription</label>
        <p>
            <textarea id="discription" ng-model="task" rows="10" cols="45" name="text"></textarea>
        </p>
        <label for="author">Author</label>
        <p>
            <input type="text" id="author" ng-model="author" placeholder="name">
            <button ng-click=addItem()>ADD</button>
        </p>
    </div>
    <script src="Scripts/angular/angular.js"></script>
    <script src="Scripts/controllers/item-controller.js"></script>
    <script src="Scripts/services/item-service.js"></script>
</body>
</html>