<!DOCTYPE html>
<html ng-app="main">
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/site.css" rel="stylesheet" />
    <link href="Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div class="row" ng-controller="register-controller">
        <div ng-show="registerBlock" class="ng-hide col-md-3 col-md-offset-2">
            <h3>LogIn</h3>
            <label for="emailLogin">Enter email</label><br />
            <input class="form-control" type="email" ng-model="emailLogin" /> <br />
            <label for="passwordLogin">Enter password</label><br />
            <input class="form-control" type="password" ng-model="passwordLogin" /><br />
            <button class="btn btn-default" ng-click=logIn()>Login</button>
        </div>

        <div ng-show="registerBlock" class="ng-hide col-md-3 col-md-offset-2">
            <h3>Registration</h3>
            <label for="email">Enter email</label><br />
            <input class="form-control" type="email" ng-model="email" /> <br />
            <label for="password">Enter password</label><br />
            <input class="form-control" type="password" ng-model="password" /><br />
            <label for="confirmpassword">Confirm password</label><br />
            <input class="form-control" type="password" ng-model="confirmpassword" /><br />
            <button class="btn btn-default" ng-click=register()>Registration</button>
        </div>
        <div ng-show="logOut" class="ng-hide  col-md-1">
            <button class="btn btn-default" ng-click=toggle()>logOut</button>
        </div>
    </div>
    <div ng-controller="item-controller">
        <button class="btn btn-default" ng-click=load()>Load</button>
        <div id="container">
            <div id="allItems">
                <div class="block" ng-repeat="item in Items track by $index">
                    <p><u>Tittle</u>: {{item.tittle}}</p>
                    <p><u>Task</u>: {{item.task}}</p>
                    <p><u>Author</u>: {{item.author}} - Date of created: {{item.createDate}}</p>
                    <button class="btn btn-danger" ng-click=removeItem($index,item)>DELETE</button>
                    <button class="btn btn-warning" ng-click=updateItem(item)>UPDATE</button>
                </div>
            </div>

            <div id="addItem">
                <label for="tittle">Tittle</label>
                <p>
                    <input class="form-control" type="text" id="tittle" ng-model="tittle" placeholder="write tittle" />
                </p>
                <label for="discription">Discription</label>
                <p>
                    <textarea id="discription" class="form-control" ng-model="task" rows="10" cols="45" name="text"></textarea>
                </p>
                <label for="author">Author</label>
                <p>
                    <input class="form-control" type="text" id="author" ng-model="author" placeholder="name">
                    <button class="btn btn-default" ng-click=addItem()>ADD</button>
                </p>
            </div>
        </div>
    </div>
    <script src="Scripts/angular/angular.js"></script>
    <script src="Scripts/controllers/item-controller.js"></script>
    <script src="Scripts/services/item-service.js"></script>
    <script src="Scripts/controllers/register-controller.js"></script>
</body>
</html>